
.container{
    border-width:1px;
    border-radius: 10px;
    border-color:black;
    border: solid;
    width:50%;
    padding:10px;
    text-align: center;
    margin:10px;
    
    
}
input.error{
    color:red;
    border-color:red;
}
.error{
    color:red;
}